.main {
  margin-top: 2vh;
  font-family: "Inter";
  font-size: 1em;
  font-style: normal;
  font-stretch: extra-expanded;
  font-weight: 300;
  letter-spacing: 3px;
}

/* .footer-container { 
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: auto; 
  height: 4vh;
  width: 100%;
  margin-bottom: auto;
  text-align: center;
  background-color: #E5E5E5;
}

#footer {
  margin: auto;
  height: auto;
  color: rgb(41, 41, 41);
  font-weight: 1000;
  text-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

@media only screen and (max-width: 768px) {
  .main {
    padding-top: 0%;
  }

  .footer-container,
  #footer {
    display:none;
  }
    
} */