.suggest-item-list-container {
  /* position: absolute; */

  z-index: 1;
  /* background-color: rgb(255, 255, 255); */
  justify-content: space-evenly;
  min-height: 0%;
  max-height: max-content;
  width: 455px;
  border-radius: 0 0 15px 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.suggest-item-list {
  display: contents;
  justify-content: center;
  text-align: left;
}

.suggest-item-container {
  display: flex;
  /* text-align: center; */
}

.suggest-item {
  display: flex;
  height: 35px;
  width: 100%;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.suggest-item:hover {
  cursor: pointer;
  background-color: rgba(199, 199, 199, 0.4);
  border-radius: 15px;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px; */
  transition: background-color 0.1s ease-out;
}
