.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  background-color: #373737;
  margin-top: 1vh;
  width: 92vw;
  height: 94vh;
  box-shadow: 1px 1px 4.5px #1f1e1e;
  border-radius: 2vh;
  text-align: center;
}

.search-info {
  color: white;
}

.med-sym {
  opacity: 0.5;
}

.search-container {
  position: fixed;
  display: block;
  margin-top: 50px;
  justify-content: center;
  background-color: #373737;
  height: 250px;
  /* overflow: hidden; */
  transition: margin-top 0.3s ease; /* Transition for margin-top property */
}

.focused.search-container {
  margin-top: 20px; /* Adjusted margin when focused */
}

.search-bar {
  position: relative;
  height: 45px;
  width: 455px;
  border: 1.25px solid white;
  border-radius: 10vh;
  background-color: #373737;
}

.search-input {
  align-items: center;
  text-align: center;
  height: 100%;
  width: 100%;
  border: 1.25px solid white;
  border-radius: 10vh;
  color: white;
  background-color: #373737;
  box-sizing: border-box;
}

/* filter icon in search bar */
.filter-icon {
  position: absolute;
  left: 5%;
  top: 50%;
  opacity: 1;
  transform: translateY(-50%);
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.filter-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 33%;
  left: -9%;
  background-color: #5f5c5c;
  border-radius: 15px;
  justify-content: space-evenly;
  width: 33%;
  border-color: #1f1e1e;
}

/* clear icon in search bar */
.clear-icon {
  position: absolute;
  left: 92%;
  top: 50%;
  opacity: 1;
  transform: translateY(-50%);
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

/* suggestion list */
.suggest-list {
  overflow-y: auto;
  height: 250px;
}

/* other */
.transition-info {
  transition: opacity 0.5s ease-in-out;
}
