.home {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    height: 100vh;
}

.search-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #373737;
    margin-top: 1vh;
    width: 92vw;
    height: 95vh;
    box-shadow: 1px 1px 4.5px #1f1e1e;
    border-radius: 2vh;
    text-align: center;
}
  
  .search-input {
    align-items: center;
    text-align: center;
    height: 45px;
    width: 455px;
    border: 1.25px solid white;
    border-radius: 10vh;
    background-color: #373737;
    color: white;       
  }
  
  .icon-container {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 0%;
    left: 10px;
    transform: translateY(-50%);
    cursor: pointer; /* Add a pointer cursor for interactivity */
  }
  
  .filter-icon {
    position: absolute;
    left: 37%;
    opacity: 1; /* Initially hidden */
    transition: opacity 0.3s ease-in-out;
  }
  
  /* Show the icon when input is not empty */
  search-input:not(:placeholder-shown) + .filter-icon {
    opacity: 1;
  }
  
  /* .search-input {
    align-items: center;
    text-align: center;
    height: 40px;
    width: 455px;
    border: 1.25px solid white;
    border-radius: 10vh;
    background-color: #373737;
    color: white;
  } */
  
.medc-container {
    flex-direction: column;
    display: flex;
    height: 15px;
    width: 100%;
    margin-bottom: 15px;
    text-align: center;
}
  
#options {
    color: white;
    font-weight: 700;
    text-shadow: 1px 1px 3.75q rgba(0,0,0,0.5);
}
  