.search-container {
  
}

.search-info {
  /* font-size: 26px; */
  /* color: rgb(105, 105, 105); */
}

.filter-icon {
    position: absolute;
    left: 5%;
    top: 50%;
    opacity: 0; /* Initially hidden */
    transform: translateY(-50%);
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
  }

  .clear-icon{
    position: absolute;
    left: 92%;
    top: 50%;
    opacity: 0; /* Initially hidden */
    transform: translateY(-50%);
    transition: opacity 0.3s ease-in-out;
    cursor: pointer;
  }
  
/* Show the icon when input is not empty */
  .search-input:not(:placeholder-shown) + .filter-icon {
    opacity: 1;
}

  .search-input:not(:placeholder-shown) + .clear-icon {
    opacity: 1;
}