.settings-menu {
  position: fixed;
  top: 94%;
  bottom: 0%;
  right: 0%;
  left: -1.5%;
  transform: translate(
    40%,
    -100%
  ); /* Center the menu both horizontally and vertically */
  background-color: white;
  width: 300px; /* Set a fixed width */
  height: 310px; /* Set a fixed height */
  max-width: 500px; /* Set a maximum width to avoid overly wide menus */
  padding: 25px;
  color: white;
  border-radius: 2vh;
  background-color: rgb(63, 63, 63);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.text {
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: 600;
}

.settings-list {
  display: grid;
  grid-gap: 5%;
}

.row-one {
  display: grid;
  grid-auto-rows: 85px;
  grid-gap: 4%;
  grid-auto-flow: column !important;
}

.row-two {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 4%;
  grid-auto-rows: 85px;
}

.dark-mode-icon-container,
.eye-care-icon-container,
.accessibility-icon-container,
.language-icon-container {
    font-size: 25px;
    display: flex;
    align-items: left;
    margin: 0%;
    padding: 0 10px ;
    justify-content: space-evenly;
    cursor: pointer;
    flex-direction: column;
    border-radius: 12px;
    background-color: rgba(255, 255, 255, 16%);  
}

#dark-mode-text,
#eye-care-text,
#accessibility-text,
#language-text {
  padding-right: 10%;
  display: flex;
  height: 25%;
  align-items: center;
  justify-content: end;
  font-size: 12px;
}

#more-settings-text {
    margin-bottom: 0;
    font-size: 15px;
    justify-content: left;
}

.more-settings-container {
    display: flex;
    cursor: pointer;
    align-items: center;
    height: 40px;
    justify-content: space-between;
    padding: 0% 4%;
}

.more-settings-icon {
    display: grid;
    align-items: center;
    justify-content: right;
}

.hover:hover {
    background-color: rgba(166, 157, 157, 0.4);
    border-radius: 0.5vh;
    transition: all 0.15s ease-in-out;
}

p {
    margin: 0% !important; /* Fixes the inherited margin bug */
}

.no-select {
    -webkit-user-select: none;
    user-select: none;
}