#section {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 526px;
   background-color: #f7f7f7;
}

#section .title-container {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   height: 15%;
   width: 80%;
}

#section .content-container {
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: justify;
   width: 80%;
   height: 60%;
   background-color: #fff;
   border-radius: 25px;
   overflow: auto;
}

#section .content {
   height: 100%;
   width: 90%;
   text-align: center;
}