/* Navigation Bar  */

.navbar-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Default navbar style */
.navbar {
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around !important;
  padding: 0 !important;
  width: 80% !important;
  position: sticky !important;
  z-index: 1;
}

@keyframes changeBackground {
  0% {
    background-color: #ecd1d1;
  }
  25% {
    background-color: #cac5c5;
  }
  50% {
    background-color: #d6c7c7;
  }
  100% {
    background-color: whitesmoke; /* Fully scrolled background color */
  }
}

/* Style for navbar when scrolling */
.navbar-scrolled {
  animation: changeBackground 0.2s ease-in;
  background-color: white;
  transition: animation 2s ease-in;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item-container {
  /* width: 50%; */
  display: flex;
  align-items: center;
  /* gap: 20px; */
}

ul {
  display: flex;
  margin: 0 !important;
  padding: 1vh !important;
  justify-content: space-evenly;
  align-items: center;
  /* width: 50vw; */
  list-style: none;
  flex-wrap: wrap;
}

.nav-item {
  align-items: center;
  cursor: pointer;
  padding: 1vh;
  font-weight: 500;
}

.login {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: space-around;
  line-height: 1.25;
  margin: 0;
  padding: calc(0.875rem - 1px) calc(0.875rem - 1px);
  /* min-height: 3rem; */
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  touch-action: manipulation;
  vertical-align: baseline;
  color: black;
  min-width: 2vw;
}

.login:hover,
.login:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(76, 79, 224, 0.65);
}

.login:hover {
  transform: translateY(-1px);
}

.login:active {
  background-color: #d4d9f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
