/* Navigation Bar  */
/* Default navbar style */
.navbar {
  display: flex;
  align-items: center;
  justify-content: center !important;
  /* margin: 1vh; */
  padding: 2vh 0;
  gap: 30vw;
  position: sticky !important;
  z-index: 1;
  /* transition: background-color 0.3s ease; */
}

@keyframes changeBackground {
  0% {
    background-color: #808080; /* Initial grey background color */
  }
  100% {
    background-color: white; /* Fully scrolled background color */
  }
}

/* Style for navbar when scrolling */
.navbar-scrolled {
  animation: changeBackground 0.3s ease-in forwards;
  background-color: white;
  transition: animation 2s ease-in;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

ul {
  display: flex;
  /* width: 25vw; */
  margin: 0 !important;
  padding: 0 !important;
  justify-content: center;
  list-style: none;
  gap: 20px;
}

.nav-item {
  align-items: center;
  cursor: pointer;
  margin-right: 15px;
  font-weight: 500;
}

/* .signUpIn {
  height: 60px;
  width: 145px;
  padding: 0 15px;
  border-radius: 20px;
  border: 2px solid #820263;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.signUpIn:hover {
  color: white;
  background-color: #820263;
  border: 3px solid #820226;
  font-weight: 700;
} */

.signUpIn {
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  color: black;
  width: auto;
}

.signUpIn:hover,
.signUpIn:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(76, 79, 224, 0.65);
}

.signUpIn:hover {
  transform: translateY(-1px);
}

.signUpIn:active {
  background-color: #d4d9f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
