.user-icon-container {
  margin-top: 2vh;

}

.user-icon {
  color: white;
  font-size: 24px;
  -webkit-text-stroke-width: 0.5px;
  cursor: pointer;
}



.sidebar-right {
  display: flex;
  flex-direction: column;
  height: 95vh;
  width: 70px;
  align-items: center;
}
