.sign-up-container {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sign-up-container .form {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   width: 20%;
   height: 20vw;
   border-radius: 12px;
   border-radius: 0 0 15px 15px;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sign-up-container .title {
   display: flex;
   margin: 0 0 1rem;
   width: 100%;
   justify-content: space-evenly;
}

.sign-up-container .brand-logo-container {
   /* width: 100%; */
}

.sign-up-container #logo {
   height: 35px;
}

.sign-up-container #brand-name {
   font-size: 14px;
}

.sign-up-container input[type="email"],
.sign-up-container input[type="password"] {
  width: 80%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  box-sizing: border-box;
}

.account-type {
   display: flex;
   justify-content: center;
   align-items: center;
   text-align: center;
   margin-bottom: 1rem;
   background-color: rgb(199, 199, 199);
   border-radius: 5px;
}

.account-type label {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 50%;
   height: 50px;
   border-radius: 5px;
   cursor: pointer;
   transition: background-color 0.2s ease-in;
}

.account-type .selected {
   background-color: white;
   margin: 1px;
}

button[type="submit"] {
  width: 80%;
  padding: 0.5rem;
  background-color: #1976d2;
  color: #fff;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #115293;
}

.register-link {
  margin-top: 1rem;
}

.register-link p {
  margin: 0;
}

.register-link a {
  color: #1976d2;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}

/* other */
.account-type input {
  display: none;
}
