.sort-menu {
  display: flex;
  /* font-size: 8px; */
  flex-direction: row-reverse;
  gap: 20px;
  cursor: pointer;
}

.sort-menu-item {
  color: black;
}

.sort-menu-item:hover {
  color: #FF3F00;
  transition: color 0.1s ease-in;
}