.landing-page {
  margin: 0;
  align-items: center;
  height: 150vh;
}

#brand-name {
  margin: 0;
  font-size: 29px;
  font-weight: 900;
  color: #820263;
  transition: color 0.3s ease-in;
}

/* Content Container */
.content-container {
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #820263 0%, #4343c3 100%);
  height: 60vh;
}

.content-container .content {
  display: flex;
  height: 100%;
  width: 65;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  color: white;
  flex-wrap: wrap;
}

.landing-page .content-container .content .text {
  width: 100%;
}

/* Welcome Banner */
.health-ff {
  padding: 2vh 0 !important;
  /* margin-top: 5vh; */
}

.tagline {
  font-family: "Glacial";
  font-size: 4.3em;
  font-weight: 700;
  line-height: 120%;
}

.gotoSearchApp-container {
  display: flex;
  width: 100%;
  justify-content: end;
}

.gotoSearchApp {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px 3%;
  background-color: white;
  color: #000;
  border-radius: 35px;
  font-weight: 700;
  cursor: pointer;
  transition: font-size 0.3s ease-out;
  /* max-width: 100%; Ensure the button doesn't exceed the container's width */
  width: 350px;
  box-sizing: border-box; /* Include padding in the total width */
}

.gotoSearchApp:hover {
  color: #820226;
  font-weight: 700;
  font-size: 1.25em;
  /* width: 20vw; */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.bi {
  font-size: 24px;
  margin-left: 5px; /* Adjust the spacing between text and icon */
}

#why {
  padding: 0 20vw;
}

#why .title {
  font-size: 30px;
  font-weight: 700;
  font-family: "Glacial";
}

#why .title #brand-name {
  font-size: 35px;
}
