.main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E5E5E5;
  /* height: 90vh; */
  padding-top: 1vh;

  
}

.footer-container {
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  display: flex;
  margin-top: auto; 
  height: 4vh;
  width: 100%;
  margin-bottom: auto;
  text-align: center;
  background-color: #E5E5E5;
}

#footer {
  margin: auto;
  height: auto;
  color: rgb(41, 41, 41);
  font-weight: 1000;
  text-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

@media only screen and (max-width: 768px) {
  .main {
    padding-top: 0%;
  }

  .footer-container,
  #footer {
    display:none;
  }
    
}