.house-icon{
    height: 90vh;
    color: white;
    font-size: 24px;
    -webkit-text-stroke-width: 0.5px;
  }
  
  .sidebar-left {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 90px;
    justify-content: center;
    align-items: center;
  }